@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

:root {
  --bg-primary: #090001;
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --yellow-base: #ffe500;
  --font-primary: 'Geometria', sans-serif;
  --font-secondary: "Funnel Display", serif;
}

body {
  font-optical-sizing: auto;
  font-style: normal;
	font-family: var(--font-secondary);
	min-height: 100vh;

  @apply bg-[var(--bg-primary)];
  @apply text-stone-100;
}

.section {
  @apply w-full;

  &-inner {
    @apply w-full max-w-5xl mx-auto;
  }
}

.h1, .h2, .h3, .h4, .h5, .h5 {
  font-family: var(--font-primary);
}

.hero-glow {
  @apply absolute z-[1] w-5 h-1 bg-[#532c08];
  box-shadow: 0 0 200px 15px #ff9900,
    0 0 300px 30px #ff9900,
    0 0 350px 40px #ff9900,
    0 0 400px 50px #ff9900;
}

.btn {
	// font-family: var(--font-secondary);
  font-family: var(--font-primary);
  @apply w-fit;
  @apply flex justify-center items-center px-6 py-2.5;
  @apply text-lg font-bold tracking-wide;
  @apply relative rounded-full;

  &--theme-yellow {
    @apply text-black;
    @apply transition-all duration-500 ease-in-out;
    @apply bg-amber-400 hover:bg-amber-300;
  }
}

.social-link {
  @apply flex items-center gap-x-5;
  @apply rounded-full pl-5 pr-10 py-3 border-2 border-amber-400;
  @apply hover:ring-4 hover:ring-amber-400 hover:bg-amber-400/10;
  @apply transition duration-300 ease-in-out;
}

.investor-list {
  @apply grid grid-cols-2 md:grid-cols-5 gap-4;
}

.investor-item {
  @apply flex items-center gap-3;
  @apply rounded-md px-4 py-3;
  @apply text-sm;
  @apply bg-amber-400/10;
  @apply hover:bg-amber-400/20;
  @apply transition duration-300 ease-in-out;
  @apply select-none pointer-events-auto;

  &--img {
    @apply size-7;
  }
}